.header {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo {
    height: 60px;
    object-fit: contain;
}

.header__item {
    margin: 20px;
    margin-right: 40px;
}