.item {
    position: relative;
    width: auto;
    padding: 20px;
    margin: auto;
    max-width: 80vw;
    height: 100px;
    background-color: #f9f9f9;
}

.search__input {
    position: relative;
    margin: 50px;
    height: 100px;
    background-color: #f9f9f9;
}
